@font-face
  font-family: "JustSans"
  src: url("/public/fonts/just_sans_ex_light.otf") format("opentype")
  font-weight: 100

@font-face
  font-family: "JustSans"
  src: url("/public/fonts/just_sans_light.otf") format("opentype")
  font-weight: 200

@font-face
  font-family: "JustSans"
  src: url("/public/fonts/just_sans_regular.otf") format("opentype")
  font-weight: normal

@font-face
  font-family: "JustSans"
  src: url("/public/fonts/just_sans_ex_bold.otf") format("opentype")
  font-weight: 900