@import 'fonts.sass'
@mixin cta-button
    transition: transform .1s linear
    text-decoration: none
    &:hover
        transform: scale(1.1)
.orange-outlined-button
    border: 1px solid #FFCE6D
    border-radius: 100px
    padding: 12px 32px
    color: #FFCE6D
    background: none
    &:hover
        background-color: white
        box-shadow: 0 0 20px white
    @include cta-button

.white-outlined-button
    border: 1px solid #FFFFFF
    border-radius: 100px
    padding: 12px 32px
    color: #FFFFFF
    background: none
    &:hover
        background-color: $orange
        box-shadow: 0 0 20px $orange
    @include cta-button

input
    &::placeholder
        color: white
