@import "./responsive"

.section-container
  padding: 0 80px
  box-sizing: border-box
  +large-mobile
    padding: 0 40px
  +mobile
    padding: 0 20px

.full-screen-section-container
  height: 100vh
  width: 100vw

.full-screen-center-content
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box