html, body
  padding: 0
  margin: 0
  box-sizing: border-box
  overflow-x: hidden
  font-family: "JustSans"

button a
  text-decoration: none
  margin: 0
  background: none
  border: none
  font-family: "JustSans"
p h1 h2 h3 h4 h5
  padding: 0
  margin: 0
